<div class="col-12 m-0 p-0">
  <div class="col-12">
    <div class="col-12 col-md-12 mt-4">
      <div class="col-12 col-md-12 d-flex mb-3">
        <h4 class="mb-3">Lista de Campeonato</h4>
        <button type="button" class="btn btn-success ms-auto" (click)="abrirModal(criarCampeonato, 'create', 0)">
          Novo campeonato
        </button>
      </div>
      <div class="table-responsive">
        <table
          class="table table-striped table-bordered align-middle text-center"
        >
          <thead class="table-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nome do Campeonato</th>
              <th scope="col">Equipes</th>
              <th scope="col">Limite</th>
              <th scope="col">Participantes</th>
              <th scope="col">Data</th>
              <th scope="col">Editar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let campeonato of lista">
              <td>{{ campeonato.id }}</td>
              <td>{{ campeonato.nome }}</td>
              <td>8</td>
              <td>8/16</td>
              <td>96</td>
              <td></td>
              <td>
                <div>
                  <button class="btn btn-warning me-2" (click)="abrirModal(editarCampeonato, 'edit', 1)"><i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i></button>
                  <button class="btn btn-danger"><i class="fa-solid fa-trash-can" style="color: #ffffff;"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>02</td>
              <td>Torneio dos Calouros</td>
              <td>16</td>
              <td>16/16</td>
              <td>128</td>
              <td>15/06/2025</td>
              <td>
                <div>
                  <button class="btn btn-warning me-2"><i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i></button>
                  <button class="btn btn-danger"><i class="fa-solid fa-trash-can" style="color: #ffffff;"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>03</td>
              <td>Desafio InterAtléticas</td>
              <td>12</td>
              <td>12/16</td>
              <td>110</td>
              <td>27/07/2025</td>
              <td>
                <div>
                  <button class="btn btn-warning me-2"><i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i></button>
                  <button class="btn btn-danger"><i class="fa-solid fa-trash-can" style="color: #ffffff;"></i></button>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-12"></div>
</div>

<ng-template #editarCampeonato let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Editar Campeonato</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross Click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="campeonatoForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="nomeCampeonato" class="form-label"
          >Nome do Campeonato</label
        >
        <input
          id="nomeCampeonato"
          formControlName="nomeCampeonato"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label for="idCampeonato" class="form-label">ID do Campeonato</label>
        <input
          id="idCampeonato"
          formControlName="idCampeonato"
          class="form-control"
        />
      </div>

      <div formArrayName="equipes">
        <div
          *ngFor="let equipe of equipes.controls; let i = index"
          [formGroupName]="i"
          class="mb-3"
        >
          <label for="nome{{ i }}" class="form-label"
            >Nome da Equipe {{ i + 1 }}</label
          >
          <input id="nome{{ i }}" formControlName="nome" class="form-control" />

          <label for="id{{ i }}" class="form-label"
            >ID da Equipe {{ i + 1 }}</label
          >
          <input id="id{{ i }}" formControlName="id" class="form-control" />

          <button
            type="button"
            class="btn btn-danger mt-2"
            (click)="removerEquipe(i)"
          >
            Remover
          </button>
        </div>
      </div>

      <button
        type="button"
        class="btn btn-secondary mt-3"
        (click)="adicionarEquipe()"
      >
        Adicionar Equipe
      </button>

      <div class="modal-footer">
        <div class="col-md-12 d-flex justify-content-end">
          <button
            type="submit"
            class="btn btn-danger"
            (click)="modal.dismiss()"
          >
            Cancelar
          </button>
          <button
            type="submit"
            class="btn btn-success ms-4"
            [disabled]="campeonatoForm.invalid"
          >
            Salvar Alterações
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #criarCampeonato let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Criar Novo Campeonato</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formCreate">
      <div class="mb-3">
        <label for="nomeCampeonato" class="form-label"
          >Nome do Campeonato</label
        >
        <input
          id="nomeCampeonato"
          formControlName="nomeCampeonato"
          class="form-control"
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="col-md-12 d-flex justify-content-end">
      <button type="submit" (click)="modal.dismiss()" class="btn btn-danger">
        Cancelar
      </button>
      <button
        type="submit"
        (click)="onSubmitCreate(); modal.dismiss()"
        class="btn btn-success ms-4"
      >
        Criar Campeonato
      </button>
    </div>
  </div>
</ng-template>

<ng-template #criarEquipe let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Criar Novo Campeonato</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formCreate">
      <div class="mb-3">
        <label for="nomeCampeonato" class="form-label"
          >Nome do Campeonato</label
        >
        <input
          id="nomeCampeonato"
          formControlName="nomeCampeonato"
          class="form-control"
        />
      </div>

      <div formArrayName="equipes">
        <div
          *ngFor="let equipe of equipes.controls; let i = index"
          [formGroupName]="i"
          class="mb-3"
        >
          <label for="nome{{ i }}" class="form-label"
            >Nome da Equipe {{ i + 1 }}</label
          >
          <input id="nome{{ i }}" formControlName="nome" class="form-control" />

          <button
            type="button"
            class="btn btn-danger mt-2"
            (click)="removerEquipe(i)"
          >
            Remover
          </button>
        </div>
      </div>

      <button
        type="button"
        class="btn btn-secondary mt-3"
        (click)="adicionarEquipe()"
      >
        Adicionar Equipe
      </button>
    </form>
  </div>
  <div class="modal-footer">
    <div class="col-md-12 d-flex justify-content-end">
      <button type="submit" (click)="modal.dismiss()" class="btn btn-danger">
        Cancelar
      </button>
      <button
        type="submit"
        (click)="onSubmitCreate(); modal.dismiss()"
        class="btn btn-success ms-4"
      >
        Criar Campeonato
      </button>
    </div>
  </div>
</ng-template>
