<button class="toggle-btn" (click)="toggleSidebar()">☰</button>
<div class="sidebar" [class.hidden]="isSidebarHidden">
  <div class="logo">
    <a href="/" class="navbar-brand">
      <img src="assets/images/logo-dua-hor-bco.png" alt="Logo" />
    </a>
  </div>

  <ul class="nav-links">
    <li>
      <button class="btn btn-success rounded" (click)="navegarEntreRotas('')">
        Campeonatos
      </button>
    </li>
    <li>
      <button
        class="btn btn-success rounded"
        (click)="navegarEntreRotas('equipe')"
      >
        Equipe
      </button>
    </li>
    <li>
      <button class="btn btn-danger rounded" (click)="sair()">SAIR</button>
    </li>
  </ul>
</div>
