<div class="container-fluid h-100">
  <div class="col-md-12 h-100 d-flex align-items-center justify-content-center ">
    <div class="col-lg-4" centralizar topo>
      <div class="card d-flex align-items-center">
        <div class="card-body col-md-8 d-flex align-items-center flex-column">
          <h3>Autentique-se:</h3>
          <br>
        <mdb-form-control>
          <input mdbInput type="text" id="usuario" class="form-control" [(ngModel)]="usuario" />
          <label mdbLabel class="form-label" for="usuario1">Usuario</label>
        </mdb-form-control>
        <br>
        <mdb-form-control>
          <input mdbInput type="password" id="senha" class="form-control" [(ngModel)]="senha" />
          <label mdbLabel class="form-label" for="senha">Senha</label>
        </mdb-form-control>
        <br>
        <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="logar()">
          Acessar
        </button>
      </div>

      </div>
    </div>
  </div>
  


  <div class="col-lg-4"></div>