<div id="playoff-page" class="playoff-page">
    <div id="playoff-box" class="playoff-box">
        <div>
            <div>
                <img src="assets/images/easy/baska.svg" alt="baska_icon">
                <h1>Basquete Feminino</h1>
            </div>
            <div id="playoff-options">
                <div class="options">Ver classificação</div>
                <div class="options">Selecionar outra modalidade</div>
                <div class="options">JPG</div>
                <div class="options">PDF</div>
            </div>
        </div>
        <div class="button">Voltar</div>

        <div id="playoff-content" class="playoff-content">

            <div>
                <div class="step-title">Oitavas</div>
                <div class="bracket-oitavas">
                    <div class="sub-bracket-oitavas">
                        <div class="infos">
                            <div class="location"> - </div>
                            <div class="date">04/09</div>
                        </div>
                        <div class="confronto">
                            <div class="times">
                                
                            </div>
                            <div class="placar"></div>
                        </div>
                    </div>
                    <div class="sub-bracket-oitavas"></div>
                    <div class="sub-bracket-oitavas"></div>
                    <div class="sub-bracket-oitavas"></div>
                </div>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>

        </div>
    </div>
</div>