body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.container {
  width: 100%;
  max-width: none;
  padding: 0 16px;
  box-sizing: border-box;
  overflow-x: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.bracket-stage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  overflow-x: auto;
  width: 100%;
}

.col {
  flex: 1 1 200px;
  min-width: 250px;
  padding: 8px;
  box-sizing: border-box;
}

/* Estilo geral para o contêiner */
.options-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Seção à esquerda com a imagem e título */
.left-section {
  display: flex;
  align-items: center;
}

.playoff-img {
  display: flex;
  gap: 10px;
}

.playoff-img img {
  width: 50px;
  height: 50px;
}

.text-center {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

/* Seção à direita com os botões */
.right-section {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 50%;
}

#playoff-options {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.options {
  background-color: #4caf50;
  color: white;
  padding: 12px 25px;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
  min-width: 140px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.options:hover {
  background-color: #388e3c;
}

/* Estilo para o botão "Voltar" */
.button {
  background-color: #ff6f61;
  color: #ffffff;
  padding: 12px 25px;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  min-width: 140px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.button:hover {
  background-color: #d95247;
}

.match-card {
  width: 250px;
  background: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 12px;
  padding: 15px;
  margin: 15px auto;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.match-card img {
  height: 36px;
  width: 36px;
  margin-right: 10px;
  border-radius: 50%;
}

.match-info {
  font-size: 0.85rem;
  color: #6c757d;
}

.team-name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

.score {
  font-weight: bold;
  font-size: 1.3rem;
  color: #333;
}
