<div class="container my-4">
  <div class="options-menu">
    <div class="left-section">
      <div class="playoff-img">
        <div class="mt-2 pt-1">
          <i class="fa-solid fa-medal fa-2xl"></i>
        </div>
        <div class="d-flex flex-column ms-3">
          <h1>Torneio de Robôs</h1>
          <p class="p-0 m-0">1º Semestre do curso de Engenharia de Software</p>
        </div>
      </div>
    </div>

    <div class="right-section">
      <div id="playoff-options">
        <button (click)="openModal()" class="options">
          Ver classificação
        </button>
        <!--
            <button class="options" (click)="downloadImage()">JPG</button>
            <button class="options" (click)="downloadPDF()">PDF</button>
            -->
        <a class="options button" href="/home">Voltar</a>
      </div>
    </div>
  </div>

  <!-- Etapa Oitavas -->
  <div class="bracket-stage">
    <div class="col">
      <h5 class="text-center">Oitavas</h5>
      <div class="match-card">
        <div class="match-info">--/-- - Local:</div>
        <div class="team-name">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/easygame-8dde0.appspot.com/o/1d37e74e6cd37b94390f-Logo-AAAU%20(1).png?alt=media"
            alt="URSO" />
          <span>URSO</span>
          <span class="score ms-auto">1</span>
        </div>
        <div class="team-name">
          <span></span>
          <span class="score ms-auto"> - </span>
        </div>
      </div>

      <div class="match-card">
        <div class="match-info">--/-- - Local:</div>
        <div class="team-name">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/easygame-8dde0.appspot.com/o/298d3fd4613325183803-LOGO_DOSE_LETAL_4.png?alt=media"
            alt="DOSE LETAL" />
          <span>DOSE LETAL</span>
          <span class="score ms-auto">1</span>
        </div>
        <div class="team-name">
          <span></span>
          <span class="score ms-auto"> - </span>
        </div>
      </div>

      <div class="match-card">
        <div class="match-info">--/-- - Local:</div>
        <div class="team-name">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/easygame-8dde0.appspot.com/o/f4917b0d778e9a9abc2d-logo.png?alt=media"
            alt="CARPINCHO" />
          <span>CARPINCHO</span>
          <span class="score ms-auto">1</span>
        </div>
        <div class="team-name">
          <span></span>
          <span class="score ms-auto"> - </span>
        </div>
      </div>

      <div class="match-card">
        <div class="match-info">--/-- - Local:</div>
        <div class="team-name">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/easygame-8dde0.appspot.com/o/13081a8fe8ae359e65d0-LOGO XV DE ABRIL PNG (1).png?alt=media"
            alt="QUATI" />
          <span>QUATI</span>
          <span class="score ms-auto">1</span>
        </div>
        <div class="team-name">
          <span></span>
          <span class="score ms-auto"> - </span>
        </div>
      </div>
    </div>

    <!-- Etapa Quartas -->
    <div class="col">
      <h5 class="text-center">Quartas</h5>
      <div class="match-card">
        <div class="match-info">08/09 - Local: Xororó</div>
        <div class="team-name">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/easygame-8dde0.appspot.com/o/1d37e74e6cd37b94390f-Logo-AAAU%20(1).png?alt=media"
            alt="URSO" />
          <span>URSO</span>
          <span class="score ms-auto">45</span>
        </div>
        <div class="team-name">
          <span class="score me-auto">20</span>
          <span>DOSE LETAL</span>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/easygame-8dde0.appspot.com/o/298d3fd4613325183803-LOGO_DOSE_LETAL_4.png?alt=media"
            alt="DOSE LETAL" />
        </div>
      </div>
      <div class="match-card">
        <div class="match-info">08/09 - Local: Xororó</div>
        <div class="team-name">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/easygame-8dde0.appspot.com/o/f4917b0d778e9a9abc2d-logo.png?alt=media"
            alt="CARPINCHO" />
          <span>CARPINCHO</span>
          <span class="score ms-auto">28</span>
        </div>
        <div class="team-name">
          <span class="score me-auto">42</span>
          <span>QUATI</span>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/easygame-8dde0.appspot.com/o/13081a8fe8ae359e65d0-LOGO%20XV%20DE%20ABRIL%20PNG%20(1).png?alt=media"
            alt="QUATI" />
        </div>
      </div>
    </div>

    <!-- Etapa Semi -->
    <div class="col">
      <h5 class="text-center">Semi</h5>
      <div class="match-card">
        <div class="match-info">14/09 - Local: Flamenguinho</div>
        <div class="team-name">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/easygame-8dde0.appspot.com/o/1d37e74e6cd37b94390f-Logo-AAAU%20(1).png?alt=media"
            alt="URSO" />
          <span>URSO</span>
          <span class="score ms-auto">43</span>
        </div>
        <div class="team-name">
          <span class="score me-auto">30</span>
          <span>QUATI</span>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/easygame-8dde0.appspot.com/o/13081a8fe8ae359e65d0-LOGO%20XV%20DE%20ABRIL%20PNG%20(1).png?alt=media"
            alt="QUATI" />
        </div>
      </div>
    </div>

    <!-- Etapa Final -->
    <div class="col">
      <h5 class="text-center">Final</h5>
      <div class="match-card">
        <div class="match-info">15/09 - Local: Flamenguinho</div>
        <div class="team-name">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/easygame-8dde0.appspot.com/o/1d37e74e6cd37b94390f-Logo-AAAU%20(1).png?alt=media"
            alt="URSO" />
          <span>URSO</span>
          <span class="score ms-auto">58</span>
        </div>
        <div class="team-name">
          <span class="score me-auto">32</span>
          <span>JAGUARES</span>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/easygame-8dde0.appspot.com/o/e5211928fbffe1815d74-j%20_page-0001%20(1).jpg?alt=media"
            alt="JAGUARES" />
        </div>
      </div>
    </div>

    <!-- Etapa Semi -->
    <div class="col">
      <h5 class="text-center">Semi</h5>
      <div class="match-card">
        <div class="match-info">08/09 - Local: Flamenguinho</div>
        <div class="team-name">
          <span class="score me-auto">16</span>
          <span>JAGUARES</span>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/easygame-8dde0.appspot.com/o/e5211928fbffe1815d74-j _page-0001 (1).jpg?alt=media"
            alt="JAGUARES" />
        </div>
        <div class="team-name">
          <span class="score me-auto">16</span>
          <span>KORINGA</span>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/easygame-8dde0.appspot.com/o/d1774910fb195dd3644b-Koringa.png?alt=media"
            alt="KORINGA" />
        </div>
      </div>
    </div>

    <!-- Etapa Quartas -->
    <div class="col">
      <h5 class="text-center">Quartas</h5>
      <div class="match-card">
        <div class="match-info">08/09 - Local: Xororó</div>
        <div class="team-name">
          <span class="score me-auto">8</span>
          <span>TUCANOS</span>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/easygame-8dde0.appspot.com/o/da3c90319cb239cc06cf-TUCANOS.png?alt=media"
            alt="TUCANOS" />
        </div>
        <div class="team-name">
          <span class="score me-auto">51</span>
          <span>JAGUARES</span>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/easygame-8dde0.appspot.com/o/e5211928fbffe1815d74-j _page-0001 (1).jpg?alt=media"
            alt="JAGUARES" />
        </div>
      </div>
      <div class="match-card">
        <div class="match-info">08/09 - Local: Xororó</div>
        <div class="team-name">
          <span class="score me-auto">19</span>
          <span>PORCO</span>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/easygame-8dde0.appspot.com/o/5e6c99a88ea4692a3a17-Logo - XVIII de março RGB.png?alt=media"
            alt="PORCO" />
        </div>
        <div class="team-name">
          <span class="score me-auto">22</span>
          <span>KORINGA</span>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/easygame-8dde0.appspot.com/o/d1774910fb195dd3644b-Koringa.png?alt=media"
            alt="KORINGA" />
        </div>
      </div>
    </div>

    <!-- Etapa Oitavas -->
    <div class="col">
      <h5 class="text-center">Oitavas</h5>
      <div class="match-card">
        <div class="match-info">--/-- - Local:</div>
        <div class="team-name">
          <span class="score me-auto">1</span>
          <span>TUCANOS</span>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/easygame-8dde0.appspot.com/o/da3c90319cb239cc06cf-TUCANOS.png?alt=media"
            alt="TUCANOS" />
        </div>
        <div class="team-name">
          <span class="score me-auto">0</span>
          <span> - </span>
        </div>
      </div>

      <div class="match-card">
        <div class="match-info">06/09 - Local: Xororó</div>
        <div class="team-name">
          <span class="score me-auto">20</span>
          <span>MEDUSA</span>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/easygame-8dde0.appspot.com/o/763b952b2a7139ba6c51-LOGO PNG (1).png?alt=media"
            alt="MEDUSA" />
        </div>
        <div class="team-name">
          <span class="score me-auto">47</span>
          <span>JAGUARES</span>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/easygame-8dde0.appspot.com/o/e5211928fbffe1815d74-j _page-0001 (1).jpg?alt=media"
            alt="JAGUARES" />
        </div>
      </div>

      <div class="match-card">
        <div class="match-info">07/09 - Local: Xororó</div>
        <div class="team-name">
          <span class="score me-auto">31</span>
          <span>PORCO</span>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/easygame-8dde0.appspot.com/o/5e6c99a88ea4692a3a17-Logo - XVIII de março RGB.png?alt=media"
            alt="PORCO" />
        </div>
        <div class="team-name">
          <span class="score me-auto">21</span>
          <span>SOBERANA</span>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/easygame-8dde0.appspot.com/o/b8a0a4586f479d69d8ef-soberana logo 2.png?alt=media"
            alt="SOBERANA" />
        </div>
      </div>

      <div class="match-card">
        <div class="match-info">--/-- - Local:</div>
        <div class="team-name">
          <span class="score me-auto">1</span>
          <span>KORINGA</span>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/easygame-8dde0.appspot.com/o/d1774910fb195dd3644b-Koringa.png?alt=media"
            alt="KORINGA" />
        </div>
        <div class="team-name">
          <span class="score me-auto">0</span>
          <span> - </span>
        </div>
      </div>
    </div>
  </div>
</div>