.playoff-page{
    display: flex;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: 100%;
    max-width: calc(-25rem + 100vw);
    height: 100vh;
    overflow: hidden;
    padding: 1rem;
}

.playoff-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50vh;
    height: calc(-10rem + 100vh);
    margin: 4rem auto;
    padding-right: 3rem;
    overflow-y: auto;
}

img{
    height: auto;
    max-width: 100%;
}

.playoff-options{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px 2rem 0px 1rem;
}

.playoff-options div{
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.playoff-options div div{
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
}