.custom-card {
    border: 1px solid #dee2e6;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border-radius: 0.75rem;
    transition: transform 0.2s;
}

.custom-card:hover {
    transform: translateY(-5px);
}